require('code-forensics').configure(
  {
    repository: {
      rootPath: "/path/to/your/project",
      excludePaths: [
        `**/node_modules/**/*`,
        `**/build/**/*`,
        `**/__pycache__/*`,
        `/static`
      ]
    }
  }
);
