require('code-forensics').configure(
  {
    repository: {
      rootPath: "/path/to/your/project",
      includePaths: [
        `/apps`
      ],
      excludePaths: [
        `**/node_modules/**/*`,
        `**/build/**/*`,
        `**/__pycache__/*`,
        `**/static/**/*`
      ]
    }
  }
);
